@model ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="Payrexx" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                <p>
                    For plugin configuration follow these steps:<br />
                    <br />
                    1. Create a Payrexx instance on Payrexx.com: <a href="https://www.payrexx.com/?ref=nopcommerce" target="_blank">Click here to create now.</a><br />
                    2. After you login for the first time you will see the initial steps you need to complete to use your account.<br />
                    3. Find your Payrexx instance name. If you access your Payrexx payment page with <b>example</b>.payrexx.com, the name would be <b>example</b>.<br />
                    4. Find your API secret on the <b>API & Integrations</b> page.<br />
                    5. Add new webhook on the <b>Webhooks</b> page with the following parameters: Webhook URL - <em>@Model.WebhookUrl</em>, Webhook Content-Type - <em>JSON</em>.<br />
                    6. Fill in your credentials below.<br />
                    7. Save the configuration.<br />
                    <br />
                    <em>Note: Ensure that you have configured your primary store currency that is supported by selected payment service provider.</em><br />
                </p>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="InstanceName" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="InstanceName" asp-required="true" />
                        <span asp-validation-for="InstanceName"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="SecretKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SecretKey" asp-required="true" asp-value="@Model.SecretKey" />
                        <span asp-validation-for="SecretKey"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>